<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.newcloud.service.chat.mapper.SendMessageMapper">

    <resultMap id="BaseResultMap" type="com.tang.newcloud.service.chat.entity.SendMessage">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="userId" column="user_id" jdbcType="CHAR"/>
            <result property="areaId" column="area_id" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="sendStatus" column="send_status" jdbcType="INTEGER"/>
            <result property="messStatus" column="mess_status" jdbcType="INTEGER"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,area_id,content,type,send_status,
        mess_status,gmt_create
    </sql>
    <select id="selectUnreadMessage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from send_message
        where area_id = #{id} and user_id = #{friend}
    </select>
</mapper>
