<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.newcloud.service.edu.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.tang.newcloud.service.edu.entity.Article">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="articleName" column="article_name" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="memberId" column="member_id" jdbcType="CHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="img" column="img" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="answerNumber" column="answer_number" jdbcType="INTEGER"/>
            <result property="viewNumber" column="view_number" jdbcType="INTEGER"/>
            <result property="goodNumber" column="good_number" jdbcType="INTEGER"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,article_name,author,
        member_id,nickname,avatar,img,
        content,answer_number,view_number,
        good_number,gmt_create,gmt_modified
    </sql>
    <update id="updateViewNumber">
        update edu_article set view_number = view_number+1 where id = #{id}
    </update>
    <select id="selectHotArticle"
            resultType="com.tang.newcloud.service.edu.entity.vo.web.WebArticleIndexHotVo">
        select id,
               article_name as articleName,
               answer_number as answerNumber,
               good_number as goodNumber,
               gmt_create as gmtCreate
        from edu_article
        order by view_number desc
        limit 5
    </select>
</mapper>
