<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.newcloud.service.edu.mapper.SubjectMapper">
    <resultMap id="nestedSubject" type="com.tang.newcloud.service.edu.entity.vo.SubjectVo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="sort" column="sort" />
        <collection property="children"
                    ofType="com.tang.newcloud.service.edu.entity.vo.SubjectVo"
                    select="selectNestedListByParentId"
                    column="id"></collection>
    </resultMap>

    <select id="selectNestedListByParentId" resultMap="nestedSubject">
        select id, sort, title from edu_subject where parent_id = #{parentId}
    </select>
    <select id="selectSubjectNameById" resultType="java.lang.String">
        select title from edu_subject where id=#{subjectId}
    </select>
    <select id="selectSubjects" resultType="com.tang.newcloud.service.edu.entity.vo.web.WebCommentTagsVo">
        select id,title from edu_subject limit 20
    </select>
    <select id="selectIdAndTitle" resultType="com.tang.newcloud.service.edu.entity.vo.WebSubjectSelectVo">
        select id,title from edu_subject where title like "%"#{title}"%"
    </select>

</mapper>
