<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.newcloud.service.edu.mapper.TeacherMapper">

    <resultMap id="teacherResultMap" type="com.tang.newcloud.service.edu.entity.Teacher">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="intro" column="intro"></result>
        <result property="career" column="career"></result>
        <result property="level" column="level"></result>
        <result property="avatar" column="avatar"></result>
        <result property="sort" column="sort"></result>
        <result property="joinDate" column="join_date"></result>
        <result property="isDeleted" column="is_deleted"></result>
        <result property="gmtCreate" column="gmt_create"></result>
        <result property="gmtModified" column="gmt_modified"></result>
    </resultMap>
    <sql id="baseSql">
        id,name,intro,career,level,avatar,sort,join_date,is_deleted,gmt_create,gmt_modified
    </sql>

    <select id="selectTeacherList" resultMap="teacherResultMap">
        select <include refid="baseSql"></include> from edu_teacher where is_deleted=0
    </select>

    <select id="selectTeacherById" resultMap="teacherResultMap"  parameterType="string">
        select <include refid="baseSql"></include> from edu_teacher where id=#{id} and is_deleted=0
    </select>
    <select id="selectFourHotTeacher" resultMap="teacherResultMap">
        select <include refid="baseSql"></include> from edu_teacher where is_deleted=0 order by sort asc limit 4
    </select>
    <select id="selectTeacherNameById" resultType="java.lang.String">
        select teacher_name from edu_teacher where teacher_id=#{teacherId}
    </select>
    <update id="deleteTeacherById" parameterType="string">
        update edu_teacher set is_deleted=1 where id = #{id}
    </update>


</mapper>
